$white: #fff;
$blue: #59b0e1;
$dark-blue: #225482;

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* XL devices (default) */

.loading-screen {
  background-color: rgba(128, 128, 128, 0.356);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide-loading-screen {
  opacity: 0;
  pointer-events: none;
}

.lds-spinner {
  color: $white;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div::after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

body {
  background-color: $blue;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-icon {
  width: 50px;
  fill: $white;
  margin: 0 10px;
}

.navbar-title {
  color: $white;
  font-weight: 900;
  font-size: 35px;
}

.content {
  width: 100%;
}

.search-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  text-align: center;
}

.search-title {
  color: $white;
  font-weight: 900;
  font-size: 45px;
}

.search-form {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.search-box {
  border: none;
  height: 50px;
  width: 250px;
  border-radius: 7px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 17px;
  padding: 0 10px;
}

.search-btn {
  border: none;
  height: 50px;
  border-radius: 7px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 70px;
  color: $white;
  background-color: $dark-blue;
  font-size: 17px;
  cursor: pointer;
}

.search-results-content {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.country-result {
  width: 95%;
  background-color: $white;
  border-radius: 7px;
  margin: 10px auto;
  cursor: pointer;
}

.country-name-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
}

.search-country-flag {
  height: 45px;
  margin: 5px;
  border-radius: 5px;
}

.country-name {
  font-size: 20px;
  margin: auto;
}

.city-name-container {
  border-bottom: 1px solid grey;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.latitude-container {
  border-bottom: 1px solid grey;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.longitude-container {
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-results-found-title {
  font-weight: 900;
  font-size: 45px;
  margin-top: 40px;
  text-align: center;
  color: $white;
}

.go-back-btn {
  display: block;
  width: 100px;
  height: 50px;
  background-color: $dark-blue;
  border: none;
  border-radius: 7px;
  color: $white;
  font-size: 18px;
  margin: 20px auto;
  cursor: pointer;
}

.toggle-units-btn {
  display: block;
  margin: 10px auto;
  background-color: $white;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  padding: 8px;
  font-weight: 700;
  cursor: pointer;
}

.weather-content {
  max-width: 350px;
  width: 95%;
  background-color: $white;
  margin: 0 auto 30px;
  border-radius: 5px;
}

.weather-country-name {
  font-size: 20px;
  margin: auto;
}

.weather-main-container {
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}

.weather-city-name {
  font-size: 33px;
  margin: 10px 0;
  text-decoration: underline;
  font-weight: 900;
}

.weather-temperature {
  font-weight: 900;
  font-size: 40px;
}

.weather-forecast {
  font-weight: 700;
  font-size: 20px;
}

.weather-svg {
  width: 200px;
}

.weather-winds-title {
  font-size: 28px;
  text-decoration: underline;
}

.weather-winds-speed {
  font-size: 20px;
}

.weather-winds-direction {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wind-direction-svg {
  width: 24px;
  margin: auto 5px;
}

.humidity-cloudiness-container {
  width: 100%;
  display: flex;
  padding: 13px 0 0;
  text-align: center;
}

.humidity-container {
  width: 50%;
}

.cloudiness-container {
  width: 50%;
}

.humidity-cloudiness-title {
  font-size: 22px;
  text-decoration: underline;
}

.humidity-cloudiness-result {
  font-size: 20px;
  padding-top: 5px;
}

/* Large devices */
@media only screen and (max-width: 1199.98px) {
  // code
}

/* Medium devices */
@media only screen and (max-width: 991.98px) {
  // code
}

/* Small devices */
@media only screen and (max-width: 767.98px) {
  .home-btn {
    flex-direction: column;
  }

  .search-title {
    font-size: 45px;
    padding: 0 20px;
  }

  .search-form {
    flex-direction: column;
    align-items: center;
  }

  .search-box {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 7px;
  }

  .search-btn {
    width: 250px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 7px;
  }

  .search-results-content {
    grid-template-columns: 100%;
  }
}
