@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
$white: #fff;
$blue: #59b0e1;
$dark-blue: #225482;

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* XL devices (default) */
body {
  background-color: $blue;
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-icon {
  width: 50px;
  fill: $white;
  margin: 0 10px;
}

.navbar-title {
  color: $white;
  font-weight: 900;
  font-size: 35px;
}

.content {
  width: 100%;
}

.search-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  text-align: center;
}

.search-title {
  color: $white;
  font-weight: 900;
  font-size: 45px;
}

.search-form {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.search-box {
  border: none;
  height: 50px;
  width: 250px;
  border-radius: 7px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 17px;
  padding: 0 10px;
}

.search-btn {
  border: none;
  height: 50px;
  border-radius: 7px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 70px;
  color: $white;
  background-color: $dark-blue;
  font-size: 17px;
  cursor: pointer;
}

.search-results-content {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.country-result {
  width: 95%;
  background-color: $white;
  border-radius: 7px;
  margin: 10px auto;
}

.country-name-container {
  display: flex;
  border-bottom: 1px solid grey;
}

.search-country-flag {
  width: 70px;
  margin: 5px;
  border-radius: 5px;
}

.country-name {
  font-size: 20px;
  margin: auto;
}

.city-name-container {
  border-bottom: 1px solid grey;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logatude-container {
  border-bottom: 1px solid grey;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.latitude-container {
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Large devices */
@media only screen and (max-width: 1199.98px) {
  .search-results-content {
    grid-template-columns: 33% 33% 33%;
  }
}

/* Medium devices */
@media only screen and (max-width: 991.98px) {
  .search-results-content {
    grid-template-columns: 50% 50%;
  }
}

/* Small devices */
@media only screen and (max-width: 767.98px) {
  .navbar-icon {
    width: 40px;
  }

  .navbar-title {
    font-size: 25px;
  }

  .search-title {
    font-size: 45px;
    padding: 0 20px;
  }

  .search-form {
    flex-direction: column;
    align-items: center;
  }

  .search-box {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 7px;
  }

  .search-btn {
    width: 250px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 7px;
  }

  .search-results-content {
    grid-template-columns: 100%;
  }

  .search-country-flag {
    width: 60px;
  }
}
